$gray-1: #575757;
$gray-3: #ced4da;

$purple-1: #eaeaea;
$purple-2: #F4FAFF;
$purple-3: #DAEDFC;
$purple-4: #DAEDFC;
$purple-5: #37A1F7;
$purple-6: #3e3c65;
$purple-7: #38355a;
$purple-10: #fff;
$purple-11: #00192F;
$purple-12: #00192F;
